html,
body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#app {
  height: 100%;
}

.app > div {
  margin-left: 1em;
}

.app {
  display: grid;
  height: 100%;
  background-color: white;
  height: 100%;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 40px;
  grid-template-areas:
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.appmenu {
  grid-area: m;
  // position: "fixed";
  // top: 0;
  // bottom: 0;
  // left: 0;
  // width: sidebarWidth,
  paddingbottom: "1em";
  // match menu background
  // prevents a white background when items are filtered out by search
  background-color: #1b1c1d;
  overflowy: "scroll";
}

.body {
  grid-area: c;
  align-self: start;
}

.footer {
  grid-area: f;
  background-color: #1b1c1d;
}

.docs-icon-set-column {
  cursor: pointer;
  .name {
    display: block;
    margin: 1em 0;
    color: #777;
  }
}
