name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Scala
        uses: olafurpg/setup-scala@v11
        with:
          java-version: adopt@1.11
      - name: version
        run: node --version
      - name: Checking your code format
        run: sbt scalafmtCheckAll
      - name: Run tests
        run: |
          sbt facade/test demo/fullLinkJS
          cd demo; npm install; npm run build
