name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - name: version
        run: node --version
      - name: Checking your code format
        run: csbt scalafmtCheckAll
      - name: Run tests
        run: csbt facade/test demo/fastOptJS::webpack
